<template>
  <div class="home">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="row">
              <div class="col-md-2">
                <img class="logo" src="../assets/logo.png">
              </div>
              <div class="col-md-10 text-right">
               <router-link class="login" to="login">Login</router-link>
               <router-link class="signup" to="signup">Signup</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="main-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div v-if="noPosts" class="text-center">
              <img class="empty-state-image" src="../assets/empty.png">
              <p class="empty-state-title">Sorry, no images uploaded yet</p>
              <hr>
              <p class="empty-state-text">But wait...<br> wouldnt't it be awesome if you created the first post? Click the button below to signup and create one right away!</p>
            </div>

            <div v-if="loading" class="text-center">
               <i class="fas fa-circle-notch fa-spin fa-2x" style="color:#999"></i>
            </div>

            <div v-if="!noPosts">
            <div  v-for="post in posts" :key="post.id" class="card">
              <img class="card-img-top" :src="post.imageUrl" alt="Card image cap">
              <!-- <img class="card-img-top" src="../assets/informal-economy-africa.jpg" alt="Card image cap"> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-xs-2">
                    <img class="user-avatar" :src="post.postUserImage">
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-10">
                    <p class="user-name">{{post.username}}</p>
                    <p class="card-text">{{post.caption}}</p>
                  </div>
                </div>
              </div>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>

   
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
            <router-link to="login" class="signup" data-toggle="modal" data-target="#exampleModal">
              Login to upload a photo
            </router-link>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
// @ is an alias to /src
import * as firebase from 'firebase';
export default {
  name: 'home',
    data () {
      return {
        imagePreview: '',
        caption: '',
        results: '',
        image: null,
        posts: [],
        noPosts: false,
        loading: false
      }
    },
    computed: {
      formIsValid () {
        return this.imageUrl !== '' &&
          this.caption !== ''
      }
    },
    //  mutations: {
    //   // createPost (state, payload) {
    //   //   state.loadedMeetups.push(payload)
    //   // }
    // },
    methods: {
      getPosts () {
        this.loading = true
         firebase.database().ref('posts').once('value').then((data) => {
           this.loading = false
            console.log(data.val());
            const obj = data.val()
            if (obj === null){
              this.noPosts = true;
            } else {
              for (let key in obj) {
                  this.posts.push({
                      id: key,
                      caption: obj[key].caption,
                      username: obj[key].username,
                      imageUrl: obj[key].imageUrl,
                      postUserImage: obj[key].userimageurl,
                  })
              }
              this.posts.reverse();
            }

            })
            .catch(
            (error) => {
                console.log(error)
                this.loading = false
            }
        )
      },
    },
    beforeMount(){
      this.getPosts()
    }
}
</script>

<style scoped>
  header{
    position: fixed;
    z-index:999;
    width:100%;
    background-color: #fff;
    padding:20px;
    box-shadow: 3px 3px 50px #00000017;
  }
  footer{
    position: fixed;
    z-index:999;
    width:100%;
    bottom:0;
    background-color: #faf9f9;
    padding: 20px;
    border-top: 2px solid #e3e3e3;
  }
  .main-area{
    background-color: #fff;
    min-height:100vh;
    height: inherit;
    width:100%;
    position:relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  img.logo{
    width: 60%;
  }
  .card{
    margin-bottom:40px;
    width:100%;
  }
  a.dropdown-toggle{
    font-weight:700;
    color: #666;
    cursor:pointer;
    /* transition: 200ms all ease; */
    padding: 10px;
  }
  a.sign-out{
    font-weight:700;
    color: #999;
    cursor:pointer;
    padding: 10px;
    display:inline-block;
    width:100%;
    text-align:center;
  }
  a.sign-out:hover{
    color: #fff;
    background-color:#999;
  }
  img.user-avatar{
    width:100%;
    border:3px solid #40B883;
  }
  p.user-name{
    font-weight:700;
    font-size: 1em;
    width:100%;
    margin-bottom:0!important;
  }
  .dropdown-menu{
    padding:0!important;
  }

  a.login{
    padding: 10px 20px;
    color:#666;
  }
  a.signup{
    padding: 10px 20px;;
    background-color: #40B883;
    color:#fff;
    border-radius:3px;
  }
  a.signup:hover{
    background-color:#358f68;
  }
  p.empty-state-text{
    color: #666
  }
  p.empty-state-title{
    font-weight:700;
    color: #358f68
  }
  img.empty-state-image{
    width:70%;
    /* margin-left:15%; */
  }
</style>
