<template>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="login">
        <p>Log in to your account</p>
        <!-- <input type="email" v-model="email" placeholder="Your email address"> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope-open-text"></i></span>
          </div>
          <input type="text" class="form-control" v-model="email"  placeholder="Your email address" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" v-model="password"  placeholder="Your password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <!-- <input type="password" v-model="password" placeholder="Your password"> -->
        <div class="text-center">
          <button v-if="!processing" type="button" class="btn btn-primary" @click="login">Log in</button>
          <button v-if="processing" type="button" class="btn btn btn-primary"><i class="fas fa-circle-notch fa-spin"></i></button>
          <p>Dont have an account? <router-link to="signup">Click here</router-link> to create one now</p>
          <hr>
          <p>or sign in with google</p>
          <button @click="socialLogin" class="g-button">
            <img src="../assets/google-logo.png">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import firebase from 'firebase';
import toastr from 'toastr'
export default {
  name: 'login',
  data() {
    return {
      email: '',
      password: '',
      name: '',
      user: '',
      result: '',
      processing: false
    };
  },
  methods: {
    login: function() {
      this.processing = true;
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          this.user = user.user.uid;
          this.$router.replace('user-home')
          this.processing = false;
        },
        (err) => {
          toastr.error( 'Oops. ' + err.message)
          this.processing = false;
        }
      )
    },
    socialLogin: function() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider).then((result)=> {
        this.$router.replace('user-home');
        console.log(result);
        this.result = result;
      }).catch((err) => {
        toastr.error('Oops. ' + err.message);
      })
    }
  }
}
</script>
<style scoped>
  .login{
    margin-top:50px;
  }

  button.btn{
    padding:10px;
    width: 50%;
    margin-bottom: 20px;
    margin-top:10px;
  }
  button.g-button{
    padding:5px;
    border-radius:50%;
    background-color:#fff;
    outline:none;
    border: none;
    box-shadow:2px 2px 15px #0000001c;
    transition: all 200ms ease;
  }
  button.g-button:hover{
    box-shadow:3px 3px 25px #0000002b;
    cursor:pointer;
  }
  button.g-button:active{
    outline:none;
    box-shadow:1px 1px 5px #0000001c;
  }
  button.g-button img{
    width:50px;
  }
</style>
