<template>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="signup">
        <p>Let's get you an account</p>
        <!-- <input type="email" v-model="email" placeholder="Your email address">
        <input type="password" v-model="password" placeholder="Your password">
        <button @click="signup">Sign up</button>
        <p><router-link to="login">Click here</router-link> to go back to login</p> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" v-model="name"  placeholder="Your full name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope-open-text"></i></span>
          </div>
          <input type="text" class="form-control" v-model="email"  placeholder="Your email address" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
          </div>
          <input type="text" class="form-control" v-model="password"  placeholder="Your password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
          <input 
            type="file" 
            style="display:none" 
            ref="fileInput" 
            accept="image/*"
            @change="onFilePicked"
            >
        <img :src="imagePreview" style="margin-bottom: 20px;">
        <button  type="button" class="btn btn-secondary" @click="selectFile">Select a display picture</button>
        <!-- <input type="password" v-model="password" placeholder="Your password"> -->
        <div class="text-center">
          <button type="button" class="btn btn-primary" @click="signup">Create acount</button>
          <p>Already have an account?<router-link to="login">Click here</router-link> to go back to login</p>
        </div>

      </div>
    </div>
  </div>
</div>
</template>

<script>
import firebase from 'firebase';
import toastr from 'toastr'
    export default {
    name: 'signup',
    data() {
        return {
            email: '',
            password: '',
            name: '',
            user: '',
            result: '',
            image: null,
            imagePreview: ''
        };
    },
    methods: {
        selectFile() {
            this.$refs.fileInput.click();
        },
        onFilePicked(event) {
            const files = event.target.files
            let filename = files[0].name;
            if (filename.lastIndexOf('.') <= 0){
                return alert('Please select a valid file')
            } 
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
                this.imagePreview =  fileReader.result;
            })
            fileReader.readAsDataURL(files[0])
            this.image = files[0];
        },
        signup: function () {
            let userKey
            firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
                (user) => {
                    this.user = user.user.uid;
                    firebase.database().ref('users').push({userId: this.user, name: this.name }
                    ).then( key => {
                        const filename = this.image.name
                        const ext = filename.slice(filename.lastIndexOf('.'))
                        userKey = key.key
                        return firebase.storage().ref('users/' + key.key + ext).put(this.image)
                    }).then( fileData => {
                        firebase.storage().ref(fileData.metadata.fullPath).getDownloadURL().then((url) => {
                            return firebase.database().ref('users').child(userKey).update({imageUrl: url})
                        }).then( key => {
                                console.log(key);
                                toastr.success('Your account has been created')
                                this.$router.replace('user-home')
                            },
                            err => {
                                toastr.error('Oops. ' + err.message)
                            }
                        )
                    },
                    (err) => {
                        toastr.error('Oops. ' + err.message)
                    }
                );
            })
        }
    }
}
</script>

<style scoped>
.signup{
    margin-top:50px;
}
 button.btn{
    padding:10px;
    width: 50%;
    margin-bottom: 20px;
    margin-top:10px;
  }
</style>
