<template>
  <div class="home">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="row">
              <div class="col-md-2">
                <img class="logo" src="../assets/logo.png">
              </div>
              <div class="col-md-10 text-right">
                <div class="dropdown show">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="sign-out" @click="logout"><i class="fas fa-door-open"></i> Sign out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="main-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">

            <div v-if="loading" class="text-center">
               <i class="fas fa-circle-notch fa-spin fa-2x" style="color:#999"></i>
            </div>

            <div v-if="noPosts" class="text-center">
                <img class="empty-state-image" src="../assets/empty.png">
                <p class="empty-state-title">Sorry, no images uploaded yet</p>
                <hr>
                <p class="empty-state-text">But wait...<br> wouldnt't it be awesome if you created the first post? Click the button below create one right away!</p>
            </div>

            <div v-if="!noPosts">
                <div  v-for="post in posts" :key="post.id" class="card">
                    <img class="card-img-top" :src="post.imageUrl" alt="Card image cap">
                    <!-- <img class="card-img-top" src="../assets/informal-economy-africa.jpg" alt="Card image cap"> -->
                    <div class="card-body">
                        <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2">
                            <img class="user-avatar" :src="post.postUserImage">
                        </div>
                        <div class="col-lg-10 col-md-10 col-xs-10">
                            <p class="user-name">{{post.username}}</p>
                            <p class="card-text">{{post.caption}}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a new Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <form>
                <!-- <form @submit.prevent="createPost"> -->
                  <!-- <input v-model="caption" type="text" placeholder="insert a caption" name="caption"> -->
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="caption"  placeholder="Insert a caption for your post">
                    </div>
                  <!-- <input v-model="imageUrl" type="text" placeholder="Paste Image Url" name="caption"> -->
                  <input 
                    type="file" 
                    style="display:none" 
                    ref="fileInput" 
                    accept="image/*"
                    @change="onFilePicked"
                  >
                  <img :src="imagePreview" style="margin-bottom: 20px;">
                  <button  type="button" class="btn btn-secondary" @click="selectFile">Select an Image</button>
                  <!-- <button>Create Post</button> -->
                </form>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button v-if="!processing" type="button" @click="createPost" class="btn btn-primary">Create Post</button>
            <button v-if="processing" type="button" class="btn btn-primary"><i class="fas fa-circle-notch fa-spin"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- <button @click="logout">logout</button> -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
            <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Upload a photo
            </button>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
// @ is an alias to /src
import * as firebase from 'firebase';
import toastr from 'toastr'
export default {
  name: 'userhome',
    data () {
      return {
        imagePreview: '',
        caption: '',
        results: '',
        image: null,
        posts: [],
        username: '',
        userid: '',
        userimageurl: '',
        noPosts: false,
        loading: false,
        processing: false
      }
    },
    computed: {
      formIsValid () {
        return this.imageUrl !== '' &&
          this.caption !== ''
      }
    },
    methods: {
      logout: function() {
        firebase.auth().signOut().then(() => {
            toastr.info('You have been logged out')
            this.$router.replace('home')
        })
      },
      selectFile() {
        this.$refs.fileInput.click();
      },
      onFilePicked(event) {
        const files = event.target.files
        let filename = files[0].name;
        if (filename.lastIndexOf('.') <= 0){
          return alert('Please select a valid file')
        } 
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imagePreview =  fileReader.result;
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0];
      },
      createPost () {
        if (!this.formIsValid) {
          return
        }
        if (!this.image) {
          return
        }
        this.processing = true;
        const postData = {
          image: this.image,
          caption: this.caption,
          username: this.username,
          userid: this.userid,
          userimageurl: this.userimageurl
        }
        let postKey
        firebase.database().ref('posts').push(postData).then(
            key => {
              const filename = this.image.name
              const ext = filename.slice(filename.lastIndexOf('.'))
              console.log(key.key);
                postKey = key.key
              return firebase.storage().ref('posts/' + key.key + ext).put(this.image)
            } 
          ).then( fileData => {
            console.log(fileData)
            // imageUrl = fileData.metadata.fullPath
            console.log(postKey)
            firebase.storage().ref(fileData.metadata.fullPath).getDownloadURL().then((url) => {
                return firebase.database().ref('posts').child(postKey).update({imageUrl: url})
                }).then( res => {
                console.log(res)
                this.processing = false;
                toastr.success('Post has been created')
                
                this.getPosts()
                },
                err => {
                    this.processing = false;
                    toastr.error( 'Oops. ' + err.message)
                })
            })

        },
        getPosts () {
            this.posts = []
            this.loading = true
            firebase.database().ref('posts').once('value').then((data) => {
            console.log(data);
            const obj = data.val()
            if (obj === null){
              this.noPosts = true;
              this.loading = false;
            } else {
                this.loading = false;
                for (let key in obj) {
                    this.posts.push({
                        id: key,
                        caption: obj[key].caption,
                        username: obj[key].username,
                        imageUrl: obj[key].imageUrl,
                        postUserImage: obj[key].userimageurl,
                    })
                }
                this.posts.reverse();
            }

            })
            .catch(
            (error) => {
                console.log(error)
            }
        )
        },
        getUserDetails () {
             firebase.auth().onAuthStateChanged( user => {
                console.log(user);
                this.userid = user.uid
                this.username = user.displayName
                this.userimageurl = user.photoURL
                firebase.database().ref('users').once('value').then((data) => {
                const obj = data.val();
                console.log(obj)
                 for (let key in obj) {
                     if(obj[key].userId === user.uid){
                        this.userid = obj[key].userId
                        this.username = obj[key].name
                        this.userimageurl = obj[key].imageUrl
                     }
                 }
                })
                .catch(
                (error) => {
                    console.log(error)
                })
            })
        },
    },
    
    beforeMount(){
      this.getPosts()
      this.getUserDetails()
    }
}
</script>

<style scoped>
  header{
    position: fixed;
    z-index:999;
    width:100%;
    background-color: #fff;
    padding:20px;
    box-shadow: 3px 3px 50px #00000017;
  }
  footer{
    position: fixed;
    z-index:999;
    width:100%;
    bottom:0;
    background-color: #faf9f9;
    padding: 20px;
    border-top: 2px solid #e3e3e3;
  }
  .main-area{
    background-color: #fff;
    min-height:100vh;
    height: inherit;
    width:100%;
    position:relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  img.logo{
    width: 60%;
  }
  .card{
    margin-bottom:40px;
    width:100%;
  }
  a.dropdown-toggle{
    font-weight:700;
    color: #666;
    cursor:pointer;
    /* transition: 200ms all ease; */
    padding: 10px;
  }
  a.sign-out{
    font-weight:700;
    color: #999;
    cursor:pointer;
    /* transition: 200ms all ease; */
    padding: 10px;
    display:inline-block;
    width:100%;
    text-align:center;
  }
  a.sign-out:hover{
    color: #fff;
    background-color:#999;
  }
  img.user-avatar{
    /* border-radius:50%; */
    width:100%;
    border:3px solid #40B883;
  }
  p.user-name{
    font-weight:700;
    font-size: 1em;
    width:100%;
    margin-bottom:0!important;
  }
  .dropdown-menu{
    padding:0!important;
  }

  a.login{
    padding: 10px 20px;
    color:#666;
  }
  a.signup{
    padding: 10px 20px;;
    background-color: #40B883;
    color:#fff;
    border-radius:3px;
  }
  a.signup:hover{
    background-color:#358f68;
  }

  @media screen and (max-width: 450px) {
    img.logo{
        width:15%;
    }
    img.user-avatar{
        width:15%;
    }
}
</style>
